@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Prompt:wght@500&display=swap');
html{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 5rem;
}
.tittle{
    color: #FFFFFF;
    font-family: 'Prompt';
    font-size: 4rem;
}
header img{
    width: 5rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    height: calc(100vh - 7rem) ;
}

.text{
    width: calc(100vw - 2rem);
    
    font-family: 'Prompt';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
    font-size: 4rem;
    text-align: center;
}

.bar2{
    display: flex;
    flex-direction: row;
    width: 34rem;
    background-color: #D9D9D9;
    justify-content: center;

    border-radius: 0.9375rem;
    height: 4.375rem;
}

.nameInput{
    margin: 0.625rem;
    background-color: #ECECEC;
    border: none;
    border-radius: 0.9375rem;
    width: 20.0625rem;
    padding: 0.625rem;
    font-size: 1.1875rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

.button{
    background-color: #96BCF4;
    margin: 0.625rem;
    border: none;
    border-radius: 0.9375rem;
    width: 10.9375rem;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 1.1875rem;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;

}

.button:hover{
    background-color: cadetblue;
}

@media screen and (max-width: 565px) {
    .tittle{ font-size: 3rem;}
    header img{ width: 4rem;}
    
    main{ margin-top: -2rem;}
    .text{ font-size: 2.5rem;  }
    .bar2{ width: 20.9rem;}
    .nameInput{ width: 12rem; margin-right: 0.5rem; margin-left: 0; font-size: 0.95rem;}
    .button{ width:6rem;
        margin-left: 0;
        margin-right: 0;
        font-size: 0.9rem;
        padding-left: 0.125rem; 
        padding-right: 0.125rem;
    }

  }